[submodule "backend"]
	path = backend
	url = https://github.com/robinagandhi/littlebits-rest-api
[submodule "frontend"]
	path = frontend
	url = https://github.com/robinagandhi/littlebits-rest-api-frontend
